html {
    margin: 0 15%;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 11px;
    margin-top: 4rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 7rem 0 0 0;
}

.profile-pic {
    border-radius: 10%;
    width: 100%;
}

.profile-pic-cont {
    justify-self: end;
}

.icons {
    font-size: 2rem;
    margin: 2rem;
}

.icon {
    margin-right: 2rem;
    font-size: 2rem;
}

.about-txt {
    margin-top: 1.5rem;
}

.skills {
    margin-top: 5rem;
}

.proj-img{
    border-radius: 10%;
    margin-top: 2rem;
}

.img-cont{
    
    padding: 5rem;
}

.main-cont{
    margin-top: 6em;
    margin-bottom: 2rem;
}

.cont-icon{
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.cont-foot{
    margin-top: 33em;
}
